<!DOCTYPE html>
<html>
<head>
    <title>Search Form</title>
    <a href="/">Home</a>
</head>
<body>
    <h1>Search Form For CPLC</h1>
    <p>Enter the vehicle number plate:</p>

    <form id="search-form" method="POST" action="{{ url_for('cplcsearch') }}">

        <input type="text" name="NUMBER_PLATE" id="number-plate" placeholder="Enter number plate">
        <input type="submit" value="Search">
    </form>
    
    <div id="result-container">
        <p id="message"></p>
    </div>
    
    

</body>
</html>
